In [2]:
import csv
import pandas as pd

In [2]:
def readCSV(csvName):
    with open(csvName) as csvfile:
        readCSV = csv.reader(csvfile, delimiter=',')
        for row in readCSV:
            print(row)
            print(row[0])

In [8]:
collegeDF = pd.read_csv('College.csv')

In [9]:
collegeDF

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
5,Albertson College,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,55
6,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,63
7,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,73
8,Albright College,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,80
9,Alderson-Broaddus College,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,52
10,Alfred University,Yes,1732,1425,472,37,75,1830,110,16548,5406,500,600,82,88,11.3,31,10932,73
11,Allegheny College,Yes,2652,1900,484,44,77,1707,44,17080,4440,400,600,73,91,9.9,41,11711,76
12,Allentown Coll. of St. Francis de Sales,Yes,1179,780,290,38,64,1130,638,9690,4785,600,1000,60,84,13.3,21,7940,74
13,Alma College,Yes,1267,1080,385,44,73,1306,28,12572,4552,400,400,79,87,15.3,32,9305,68
14,Alverno College,Yes,494,313,157,23,46,1317,1235,8352,3640,650,2449,36,69,11.1,26,8127,55
15,American International College,Yes,1420,1093,220,9,22,1018,287,8700,4780,450,1400,78,84,14.7,19,7355,69
16,Amherst College,Yes,4302,992,418,83,96,1593,5,19760,5300,660,1598,93,98,8.4,63,21424,100
17,Anderson University,Yes,1216,908,423,19,40,1819,281,10100,3520,550,1100,48,61,12.1,14,7994,59
18,Andrews University,Yes,1130,704,322,14,23,1586,326,9996,3090,900,1320,62,66,11.5,18,10908,46
19,Angelo State University,No,3540,2001,1016,24,54,4190,1512,5130,3592,500,2000,60,62,23.1,5,4010,34
20,Antioch University,Yes,713,661,252,25,44,712,23,15476,3336,400,1100,69,82,11.3,35,42926,48
21,Appalachian State University,No,7313,4664,1910,20,63,9940,1035,6806,2540,96,2000,83,96,18.3,14,5854,70
22,Aquinas College,Yes,619,516,219,20,51,1251,767,11208,4124,350,1615,55,65,12.7,25,6584,65
23,Arizona State University Main campus,No,12809,10308,3761,24,49,22593,7585,7434,4850,700,2100,88,93,18.9,5,4602,48
24,Arkansas College (Lyon College),Yes,708,334,166,46,74,530,182,8644,3922,500,800,79,88,12.6,24,14579,54
25,Arkansas Tech University,No,1734,1729,951,12,52,3602,939,3460,2650,450,1000,57,60,19.6,5,4739,48
26,Assumption College,Yes,2135,1700,491,23,59,1708,689,12000,5920,500,500,93,93,13.8,30,7100,88
27,Auburn University-Main Campus,No,7548,6791,3070,25,57,16262,1716,6300,3933,600,1908,85,91,16.7,18,6642,69
28,Augsburg College,Yes,662,513,257,12,30,2074,726,11902,4372,540,950,65,65,12.8,31,7836,58
29,Augustana College IL,Yes,1879,1658,497,36,69,1950,38,13353,4173,540,821,78,83,12.7,40,9220,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,Westfield State College,No,3100,2150,825,3,20,3234,941,5542,3788,500,1300,75,79,15.7,20,4222,65
748,Westminster College MO,Yes,662,553,184,20,43,665,37,10720,4050,600,1650,66,70,12.5,20,7925,62
749,Westminster College,Yes,996,866,377,29,58,1411,72,12065,3615,430,685,62,78,12.5,41,8596,80
750,Westminster College of Salt Lake City,Yes,917,720,213,21,60,979,743,8820,4050,600,2025,68,83,10.5,34,7170,50
751,Westmont College,No,950,713,351,42,72,1276,9,14320,5304,490,1410,77,77,14.9,17,8837,87
752,Wheaton College IL,Yes,1432,920,548,56,84,2200,56,11480,4200,530,1400,81,83,12.7,40,11916,85
753,Westminster College PA,Yes,1738,1373,417,21,55,1335,30,18460,5970,700,850,92,96,13.2,41,22704,71
754,Wheeling Jesuit College,Yes,903,755,213,15,49,971,305,10500,4545,600,600,66,71,14.1,27,7494,72
755,Whitman College,Yes,1861,998,359,45,77,1220,46,16670,4900,750,800,80,83,10.5,51,13198,72
756,Whittier College,Yes,1681,1069,344,35,63,1235,30,16249,5699,500,1998,84,92,13.6,29,11778,52
757,Whitworth College,Yes,1121,926,372,43,70,1270,160,12660,4500,678,2424,80,80,16.9,20,8328,80
758,Widener University,Yes,2139,1492,502,24,64,2186,2171,12350,5370,500,1350,88,86,12.6,19,9603,63
759,Wilkes University,Yes,1631,1431,434,15,36,1803,603,11150,5130,550,1260,78,92,13.3,24,8543,67
760,Willamette University,Yes,1658,1327,395,49,80,1595,159,14800,4620,400,790,91,94,13.3,37,10779,68
761,William Jewell College,Yes,663,547,315,32,67,1279,75,10060,2970,500,2600,74,80,11.2,19,7885,59
762,William Woods University,Yes,469,435,227,17,39,851,120,10535,4365,550,3700,39,66,12.9,16,7438,52
763,Williams College,Yes,4186,1245,526,81,96,1988,29,19629,5790,500,1200,94,99,9.0,64,22014,99
764,Wilson College,Yes,167,130,46,16,50,199,676,11428,5084,450,475,67,76,8.3,43,10291,67
765,Wingate College,Yes,1239,1017,383,10,34,1207,157,7820,3400,550,1550,69,81,13.9,8,7264,91
766,Winona State University,No,3325,2047,1301,20,45,5800,872,4200,2700,300,1200,53,60,20.2,18,5318,58
767,Winthrop University,No,2320,1805,769,24,61,3395,670,6400,3392,580,2150,71,80,12.8,26,6729,59
768,Wisconsin Lutheran College,Yes,152,128,75,17,41,282,22,9100,3700,500,1400,48,48,8.5,26,8960,50
769,Wittenberg University,Yes,1979,1739,575,42,68,1980,144,15948,4404,400,800,82,95,12.8,29,10414,78
770,Wofford College,Yes,1501,935,273,51,83,1059,34,12680,4150,605,1440,91,92,15.3,42,7875,75
771,Worcester Polytechnic Institute,Yes,2768,2314,682,49,86,2802,86,15884,5370,530,730,92,94,15.2,34,10774,82
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [46]:
collegeDF['Room.Board'].mean()

4357.526383526383

In [49]:
collegeDF['Grad.Rate'].mean()

65.46332046332046

In [48]:
12232/2

6116.0

In [9]:
salariesDF = pd.read_csv('salaries-by-college-type.csv')

In [10]:
salariesDF

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00","$80,000.00","$91,200.00","$137,000.00","$180,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00","$63,300.00","$80,100.00","$150,000.00","$209,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00","$71,600.00","$85,500.00","$140,000.00","$182,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00","$67,200.00","$85,200.00","$137,000.00","$183,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00","$62,200.00","$87,900.00","$142,000.00","$201,000.00"
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00","$68,700.00","$81,900.00","$138,000.00","$185,000.00"
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00","$56,100.00","$77,400.00","$121,000.00","$165,000.00"
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00","$55,200.00","$74,000.00","$117,000.00","$153,000.00"
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00","$50,600.00","$71,400.00","$124,000.00","$163,000.00"
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00","$71,500.00","$81,900.00","$122,000.00","$147,000.00"
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00",NaN,"$67,400.00","$123,000.00",NaN
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00","$45,000.00","$62,100.00","$112,000.00","$159,000.00"
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00","$49,800.00","$64,000.00","$106,000.00","$142,000.00"
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00","$42,100.00","$62,600.00","$99,500.00","$121,000.00"
19,University of Illinois at Urbana-Champaign (UIUC),Party,"$52,900.00","$96,100.00","$48,200.00","$68,900.00","$132,000.00","$177,000.00"
20,"University of Maryland, College Park",Party,"$52,000.00","$95,000.00","$50,400.00","$68,300.00","$126,000.00","$166,000.00"
21,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
22,University of Texas (UT) - Austin,Party,"$49,700.00","$93,900.00","$50,100.00","$67,400.00","$129,000.00","$188,000.00"
23,State University of New York (SUNY) at Albany,Party,"$44,500.00","$92,200.00","$47,000.00","$63,100.00","$135,000.00","$209,000.00"
24,University of Florida (UF),Party,"$47,100.00","$87,900.00","$45,400.00","$62,900.00","$120,000.00","$172,000.00"
25,Louisiana State University (LSU),Party,"$46,900.00","$87,800.00","$43,700.00","$61,300.00","$120,000.00","$165,000.00"
26,University of Georgia (UGA),Party,"$44,100.00","$86,000.00","$43,100.00","$57,800.00","$118,000.00","$164,000.00"
27,Pennsylvania State University (PSU),Party,"$49,900.00","$85,700.00","$46,300.00","$62,000.00","$117,000.00","$160,000.00"
28,Arizona State University (ASU),Party,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00"
29,"Indiana University (IU), Bloomington",Party,"$46,300.00","$84,000.00","$43,600.00","$60,400.00","$119,000.00","$178,000.00"
...,...,...,...,...,...,...,...,...
239,University of Alabama at Birmingham (UAB),State,"$39,200.00","$70,100.00","$43,000.00","$53,400.00","$91,400.00","$125,000.00"
240,University of Memphis (U of M),State,"$41,400.00","$69,700.00","$36,100.00","$49,100.00","$93,500.00","$127,000.00"
241,Boise State University (BSU),State,"$40,800.00","$69,500.00","$37,400.00","$48,700.00","$87,500.00","$110,000.00"
242,Missouri State University (MSU),State,"$36,100.00","$69,500.00","$33,300.00","$46,900.00","$102,000.00","$134,000.00"
243,University of Wisconsin (UW) - La Crosse,State,"$42,200.00","$69,300.00","$37,500.00","$47,200.00","$93,100.00","$133,000.00"
244,Appalachian State University,State,"$40,400.00","$69,100.00","$37,200.00","$50,400.00","$90,800.00","$115,000.00"
245,Virginia Commonwealth University (VCU),State,"$42,000.00","$68,400.00","$37,400.00","$51,900.00","$100,000.00","$123,000.00"
246,University of Wisconsin (UW) - Stout,State,"$43,600.00","$68,300.00","$40,900.00","$50,600.00","$91,600.00","$136,000.00"
247,East Carolina University (ECU),State,"$40,200.00","$67,500.00","$38,400.00","$52,000.00","$98,700.00","$151,000.00"
248,Utah Valley State College,State,"$42,400.00","$67,100.00","$27,000.00","$44,100.00","$84,900.00","$110,000.00"
249,University of Missouri - St. Louis (UMSL),State,"$41,400.00","$67,100.00","$36,800.00","$49,600.00","$97,600.00","$144,000.00"
250,Western Carolina University,State,"$36,900.00","$66,600.00","$39,000.00","$49,500.00","$94,400.00","$133,000.00"
251,University of Wisconsin (UW) - Oshkosh,State,"$39,300.00","$66,400.00","$37,700.00","$49,700.00","$90,100.00","$138,000.00"
252,State University of New York (SUNY) at Fredonia,State,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00"
253,University of Missouri - Kansas City (UMKC),State,"$38,900.00","$65,800.00","$36,300.00","$48,100.00","$95,800.00","$124,000.00"
254,University of Wisconsin (UW) - Eau Claire,State,"$41,400.00","$64,800.00","$35,000.00","$47,300.00","$93,100.00","$125,000.00"
255,Ball State University (BSU),State,"$39,100.00","$64,500.00","$35,500.00","$48,200.00","$89,300.00","$128,000.00"
256,University of North Carolina at Wilmington (UNCW),State,"$37,500.00","$64,400.00","$32,100.00","$46,600.00","$97,100.00","$129,000.00"
257,University of Wisconsin (UW) - Stevens Point,State,"$39,800.00","$64,000.00","$38,400.00","$45,100.00","$95,400.00","$128,000.00"
258,University of Southern Maine,State,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
259,Arkansas State University (ASU),State,"$38,700.00","$63,300.00","$33,600.00","$45,300.00","$83,900.00","$118,000.00"
260,Kent State University,State,"$38,700.00","$62,600.00","$36,100.00","$45,800.00","$87,000.00","$124,000.00"
261,Tarleton State University (TSU),State,"$40,800.00","$62,400.00","$32,100.00","$47,400.00","$80,400.00","$126,000.00"
262,University of Wisconsin (UW) - Green Bay,State,"$35,800.00","$60,600.00","$35,500.00","$46,800.00","$81,800.00","$102,000.00"
263,Morehead State University,State,"$34,800.00","$60,600.00","$34,300.00","$46,500.00","$72,000.00","$91,300.00"
264,Austin Peay State University,State,"$37,700.00","$59,200.00","$32,200.00","$40,500.00","$73,900.00","$96,200.00"
265,Pittsburg State University,State,"$40,400.00","$58,200.00","$25,600.00","$46,000.00","$84,600.00","$117,000.00"
266,Southern Utah University,State,"$41,900.00","$56,500.00","$30,700.00","$39,700.00","$78,400.00","$116,000.00"
267,Montana State University - Billings,State,"$37,900.00","$50,600.00","$22,600.00","$31,800.00","$78,500.00","$98,900.00"
268,Black Hills State University,State,"$35,300.00","$43,900.00","$27,000.00","$32,200.00","$60,900.00","$87,600.00"

In [93]:
majors = pd.read_csv('all-ages.csv')
majors = majors.iloc[:,0:11]
majors

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0
5,1105,PLANT SCIENCE AND AGRONOMY,Agriculture & Natural Resources,79409,63043,51077,2070,0.031791,50000,35000,75000.0
6,1106,SOIL SCIENCE,Agriculture & Natural Resources,6586,4926,4042,264,0.050867,63000,39400,88000.0
7,1199,MISCELLANEOUS AGRICULTURE,Agriculture & Natural Resources,8549,6392,5074,261,0.039230,52000,35000,75000.0
8,1301,ENVIRONMENTAL SCIENCE,Biology & Life Science,106106,87602,65238,4736,0.051290,52000,38000,75000.0
9,1302,FORESTRY,Agriculture & Natural Resources,69447,48228,39613,2144,0.042563,58000,40500,80000.0
10,1303,NATURAL RESOURCES MANAGEMENT,Agriculture & Natural Resources,83188,65937,50595,3789,0.054341,52000,37100,75000.0
11,1401,ARCHITECTURE,Engineering,294692,216770,163020,20394,0.085991,63000,40400,93500.0
12,1501,AREA ETHNIC AND CIVILIZATION STUDIES,Humanities & Liberal Arts,103740,75798,50530,5525,0.067939,46000,32000,71000.0
13,1901,COMMUNICATIONS,Communications & Journalism,987676,790696,595739,54390,0.064360,50000,35000,80000.0
14,1902,JOURNALISM,Communications & Journalism,418104,314438,235407,20754,0.061917,50000,35000,80000.0
15,1903,MASS MEDIA,Communications & Journalism,211213,170474,125489,15431,0.083005,48000,32000,70000.0
16,1904,ADVERTISING AND PUBLIC RELATIONS,Communications & Journalism,186829,147433,111552,10624,0.067216,50000,34000,75000.0
17,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,62141,49609,37261,4609,0.085009,50000,34500,75000.0
18,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics,253782,218248,189950,11945,0.051891,65000,45000,90000.0
19,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics,29317,22828,18747,2265,0.090264,60000,40000,85000.0
20,2102,COMPUTER SCIENCE,Computers & Mathematics,783292,656372,561052,34196,0.049519,78000,51000,105000.0
21,2105,INFORMATION SCIENCES,Computers & Mathematics,77805,66393,57604,3704,0.052841,68000,46200,95000.0
22,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics,39362,32366,28156,2626,0.075046,55000,40000,80000.0
23,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics,51771,44071,35954,2748,0.058694,55000,36000,80000.0
24,2201,COSMETOLOGY SERVICES AND CULINARY ARTS,Industrial Arts & Consumer Services,42325,33388,25780,1941,0.054941,40000,26200,60000.0
25,2300,GENERAL EDUCATION,Education,1438867,843693,591863,38742,0.043904,43000,32000,59000.0
26,2301,EDUCATIONAL ADMINISTRATION AND SUPERVISION,Education,4037,3113,2468,0,0.000000,58000,44750,79000.0
27,2303,SCHOOL STUDENT COUNSELING,Education,2396,1492,1093,169,0.101746,41000,33200,50000.0
28,2304,ELEMENTARY EDUCATION,Education,1446701,819393,501786,32685,0.038359,40000,31000,50000.0
29,2305,MATHEMATICS TEACHER EDUCATION,Education,68808,47203,29494,1610,0.032983,43000,34000,60000.0
...,...,...,...,...,...,...,...,...,...,...,...
143,6005,FILM VIDEO AND PHOTOGRAPHIC ARTS,Arts,133508,107651,69303,10080,0.085619,47000,30000,70000.0
144,6006,ART HISTORY AND CRITICISM,Humanities & Liberal Arts,90852,61295,38989,4185,0.063913,44500,30000,70000.0
145,6007,STUDIO ARTS,Arts,81008,58799,36943,5372,0.083714,37600,24900,58000.0
146,6099,MISCELLANEOUS FINE ARTS,Arts,8511,6431,3802,1190,0.156147,45000,30000,60000.0
147,6100,GENERAL MEDICAL AND HEALTH SERVICES,Health,104516,78198,53746,4525,0.054701,50000,35000,73000.0
148,6102,COMMUNICATION DISORDERS SCIENCES AND SERVICES,Health,74977,49393,26085,2407,0.046467,42000,30000,60000.0
149,6103,HEALTH AND MEDICAL ADMINISTRATIVE SERVICES,Health,108510,85360,67294,5160,0.057004,50000,35000,75000.0
150,6104,MEDICAL ASSISTING SERVICES,Health,64316,51279,25118,1660,0.031357,55000,37000,75000.0
151,6105,MEDICAL TECHNOLOGIES TECHNICIANS,Health,164990,121479,92128,4564,0.036210,60000,45000,76000.0
152,6106,HEALTH AND MEDICAL PREPARATORY PROGRAMS,Health,32514,19009,13147,1431,0.070010,50000,34000,85000.0
153,6107,NURSING,Health,1769892,1325711,947546,36503,0.026797,62000,48000,80000.0
154,6108,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,Health,180084,124058,89234,4414,0.034358,106000,78000,125000.0
155,6109,TREATMENT THERAPY PROFESSIONS,Health,252138,199174,128115,5378,0.026292,61000,40000,80000.0
156,6110,COMMUNITY AND PUBLIC HEALTH,Health,56741,42543,28912,3032,0.066528,47000,32800,70000.0
157,6199,MISCELLANEOUS HEALTH MEDICAL PROFESSIONS,Health,77647,52610,35676,2978,0.053573,45000,32000,62000.0
158,6200,GENERAL BUSINESS,Business,2148712,1580978,1304646,85626,0.051378,60000,40000,95000.0
159,6201,ACCOUNTING,Business,1779219,1335825,1095027,75379,0.053415,65000,42500,100000.0
160,6202,ACTUARIAL SCIENCE,Business,9763,7846,6880,466,0.056064,72000,53000,115000.0
161,6203,BUSINESS MANAGEMENT AND ADMINISTRATION,Business,3123510,2354398,1939384,147261,0.058865,58000,39500,86000.0
162,6204,OPERATIONS LOGISTICS AND E-COMMERCE,Business,57200,47341,41104,2141,0.043268,65000,45000,90000.0
163,6205,BUSINESS ECONOMICS,Business,75547,57983,48471,3816,0.061749,65000,45000,100000.0
164,6206,MARKETING AND MARKETING RESEARCH,Business,1114624,890125,704912,51839,0.055033,56000,38500,90000.0
165,6207,FINANCE,Business,816548,670681,561073,34166,0.048473,65000,45000,100000.0
166,6209,HUMAN RESOURCES AND PERSONNEL MANAGEMENT,Business,187274,142879,116466,9241,0.060748,54000,38000,80000.0
167,6210,INTERNATIONAL BUSINESS,Business,86064,66453,51012,5106,0.071354,54000,38600,80000.0
168,6211,HOSPITALITY MANAGEMENT,Business,200854,163393,122499,8862,0.051447,49000,33000,70000.0
169,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,156673,134478,118249,6186,0.043977,72000,50000,100000.0
170,6299,MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION,Business,102753,77471,61603,4308,0.052679,53000,36000,83000.0
171,6402,HISTORY,Humanities & Liberal Arts,712509,478416,354163,33725,0.065851,50000,35000,80000.0
172,6403,UNITED STATES HISTORY,Humanities & Liberal Arts,17746,11887,8204,943,0.073500,50000,39000,81000.0

In [65]:
list = (majors["Major"])
y = 0
for item in list:
    list[y] = list[y].lower()
    y = y + 1
    
print(list)

AttributeError: 'builtin_function_or_method' object has no attribute 'lower'

In [102]:
majors["Major"] = majors["Major"].str.lower()
degrees['Undergraduate Major'] = degrees['Undergraduate Major'].str.lower()

In [103]:
majors

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,general agriculture,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,agriculture production and management,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,agricultural economics,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,animal sciences,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,food science,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0
5,1105,plant science and agronomy,Agriculture & Natural Resources,79409,63043,51077,2070,0.031791,50000,35000,75000.0
6,1106,soil science,Agriculture & Natural Resources,6586,4926,4042,264,0.050867,63000,39400,88000.0
7,1199,miscellaneous agriculture,Agriculture & Natural Resources,8549,6392,5074,261,0.039230,52000,35000,75000.0
8,1301,environmental science,Biology & Life Science,106106,87602,65238,4736,0.051290,52000,38000,75000.0
9,1302,forestry,Agriculture & Natural Resources,69447,48228,39613,2144,0.042563,58000,40500,80000.0
10,1303,natural resources management,Agriculture & Natural Resources,83188,65937,50595,3789,0.054341,52000,37100,75000.0
11,1401,architecture,Engineering,294692,216770,163020,20394,0.085991,63000,40400,93500.0
12,1501,area ethnic and civilization studies,Humanities & Liberal Arts,103740,75798,50530,5525,0.067939,46000,32000,71000.0
13,1901,communications,Communications & Journalism,987676,790696,595739,54390,0.064360,50000,35000,80000.0
14,1902,journalism,Communications & Journalism,418104,314438,235407,20754,0.061917,50000,35000,80000.0
15,1903,mass media,Communications & Journalism,211213,170474,125489,15431,0.083005,48000,32000,70000.0
16,1904,advertising and public relations,Communications & Journalism,186829,147433,111552,10624,0.067216,50000,34000,75000.0
17,2001,communication technologies,Computers & Mathematics,62141,49609,37261,4609,0.085009,50000,34500,75000.0
18,2100,computer and information systems,Computers & Mathematics,253782,218248,189950,11945,0.051891,65000,45000,90000.0
19,2101,computer programming and data processing,Computers & Mathematics,29317,22828,18747,2265,0.090264,60000,40000,85000.0
20,2102,computer science,Computers & Mathematics,783292,656372,561052,34196,0.049519,78000,51000,105000.0
21,2105,information sciences,Computers & Mathematics,77805,66393,57604,3704,0.052841,68000,46200,95000.0
22,2106,computer administration management and security,Computers & Mathematics,39362,32366,28156,2626,0.075046,55000,40000,80000.0
23,2107,computer networking and telecommunications,Computers & Mathematics,51771,44071,35954,2748,0.058694,55000,36000,80000.0
24,2201,cosmetology services and culinary arts,Industrial Arts & Consumer Services,42325,33388,25780,1941,0.054941,40000,26200,60000.0
25,2300,general education,Education,1438867,843693,591863,38742,0.043904,43000,32000,59000.0
26,2301,educational administration and supervision,Education,4037,3113,2468,0,0.000000,58000,44750,79000.0
27,2303,school student counseling,Education,2396,1492,1093,169,0.101746,41000,33200,50000.0
28,2304,elementary education,Education,1446701,819393,501786,32685,0.038359,40000,31000,50000.0
29,2305,mathematics teacher education,Education,68808,47203,29494,1610,0.032983,43000,34000,60000.0
...,...,...,...,...,...,...,...,...,...,...,...
143,6005,film video and photographic arts,Arts,133508,107651,69303,10080,0.085619,47000,30000,70000.0
144,6006,art history and criticism,Humanities & Liberal Arts,90852,61295,38989,4185,0.063913,44500,30000,70000.0
145,6007,studio arts,Arts,81008,58799,36943,5372,0.083714,37600,24900,58000.0
146,6099,miscellaneous fine arts,Arts,8511,6431,3802,1190,0.156147,45000,30000,60000.0
147,6100,general medical and health services,Health,104516,78198,53746,4525,0.054701,50000,35000,73000.0
148,6102,communication disorders sciences and services,Health,74977,49393,26085,2407,0.046467,42000,30000,60000.0
149,6103,health and medical administrative services,Health,108510,85360,67294,5160,0.057004,50000,35000,75000.0
150,6104,medical assisting services,Health,64316,51279,25118,1660,0.031357,55000,37000,75000.0
151,6105,medical technologies technicians,Health,164990,121479,92128,4564,0.036210,60000,45000,76000.0
152,6106,health and medical preparatory programs,Health,32514,19009,13147,1431,0.070010,50000,34000,85000.0
153,6107,nursing,Health,1769892,1325711,947546,36503,0.026797,62000,48000,80000.0
154,6108,pharmacy pharmaceutical sciences and administr...,Health,180084,124058,89234,4414,0.034358,106000,78000,125000.0
155,6109,treatment therapy professions,Health,252138,199174,128115,5378,0.026292,61000,40000,80000.0
156,6110,community and public health,Health,56741,42543,28912,3032,0.066528,47000,32800,70000.0
157,6199,miscellaneous health medical professions,Health,77647,52610,35676,2978,0.053573,45000,32000,62000.0
158,6200,general business,Business,2148712,1580978,1304646,85626,0.051378,60000,40000,95000.0
159,6201,accounting,Business,1779219,1335825,1095027,75379,0.053415,65000,42500,100000.0
160,6202,actuarial science,Business,9763,7846,6880,466,0.056064,72000,53000,115000.0
161,6203,business management and administration,Business,3123510,2354398,1939384,147261,0.058865,58000,39500,86000.0
162,6204,operations logistics and e-commerce,Business,57200,47341,41104,2141,0.043268,65000,45000,90000.0
163,6205,business economics,Business,75547,57983,48471,3816,0.061749,65000,45000,100000.0
164,6206,marketing and marketing research,Business,1114624,890125,704912,51839,0.055033,56000,38500,90000.0
165,6207,finance,Business,816548,670681,561073,34166,0.048473,65000,45000,100000.0
166,6209,human resources and personnel management,Business,187274,142879,116466,9241,0.060748,54000,38000,80000.0
167,6210,international business,Business,86064,66453,51012,5106,0.071354,54000,38600,80000.0
168,6211,hospitality management,Business,200854,163393,122499,8862,0.051447,49000,33000,70000.0
169,6212,management information systems and statistics,Business,156673,134478,118249,6186,0.043977,72000,50000,100000.0
170,6299,miscellaneous business & medical administration,Business,102753,77471,61603,4308,0.052679,53000,36000,83000.0
171,6402,history,Humanities & Liberal Arts,712509,478416,354163,33725,0.065851,50000,35000,80000.0
172,6403,united states history,Humanities & Liberal Arts,17746,11887,8204,943,0.073500,50000,39000,81000.0

In [62]:
#list = (majors["Major"])
#for major in Majors:

x = 0 
for item in majors:
    majors.replace(majors["Major"][x], majors["Major"][x].lower())
    x = x + 1
    
print(majors)

     Major_code                                              Major  \
0          1100                                GENERAL AGRICULTURE
1          1101              AGRICULTURE PRODUCTION AND MANAGEMENT
2          1102                             AGRICULTURAL ECONOMICS
3          1103                                    ANIMAL SCIENCES
4          1104                                       FOOD SCIENCE
5          1105                         PLANT SCIENCE AND AGRONOMY
6          1106                                       SOIL SCIENCE
7          1199                          MISCELLANEOUS AGRICULTURE
8          1301                              ENVIRONMENTAL SCIENCE
9          1302                                           FORESTRY
10         1303                       NATURAL RESOURCES MANAGEMENT
11         1401                                       ARCHITECTURE
12         1501               AREA ETHNIC AND CIVILIZATION STUDIES
13         1901                                     COMMUNICATIONS
14         1902                                         JOURNALISM
15         1903                                         MASS MEDIA
16         1904                   ADVERTISING AND PUBLIC RELATIONS
17         2001                         COMMUNICATION TECHNOLOGIES
18         2100                   COMPUTER AND INFORMATION SYSTEMS
19         2101           COMPUTER PROGRAMMING AND DATA PROCESSING
20         2102                                   COMPUTER SCIENCE
21         2105                               INFORMATION SCIENCES
22         2106    COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY
23         2107         COMPUTER NETWORKING AND TELECOMMUNICATIONS
24         2201             COSMETOLOGY SERVICES AND CULINARY ARTS
25         2300                                  GENERAL EDUCATION
26         2301         EDUCATIONAL ADMINISTRATION AND SUPERVISION
27         2303                          SCHOOL STUDENT COUNSELING
28         2304                               ELEMENTARY EDUCATION
29         2305                      MATHEMATICS TEACHER EDUCATION
..          ...                                                ...
143        6005                   FILM VIDEO AND PHOTOGRAPHIC ARTS
144        6006                          ART HISTORY AND CRITICISM
145        6007                                        STUDIO ARTS
146        6099                            MISCELLANEOUS FINE ARTS
147        6100                GENERAL MEDICAL AND HEALTH SERVICES
148        6102      COMMUNICATION DISORDERS SCIENCES AND SERVICES
149        6103         HEALTH AND MEDICAL ADMINISTRATIVE SERVICES
150        6104                         MEDICAL ASSISTING SERVICES
151        6105                   MEDICAL TECHNOLOGIES TECHNICIANS
152        6106            HEALTH AND MEDICAL PREPARATORY PROGRAMS
153        6107                                            NURSING
154        6108  PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...
155        6109                      TREATMENT THERAPY PROFESSIONS
156        6110                        COMMUNITY AND PUBLIC HEALTH
157        6199           MISCELLANEOUS HEALTH MEDICAL PROFESSIONS
158        6200                                   GENERAL BUSINESS
159        6201                                         ACCOUNTING
160        6202                                  ACTUARIAL SCIENCE
161        6203             BUSINESS MANAGEMENT AND ADMINISTRATION
162        6204                OPERATIONS LOGISTICS AND E-COMMERCE
163        6205                                 BUSINESS ECONOMICS
164        6206                   MARKETING AND MARKETING RESEARCH
165        6207                                            FINANCE
166        6209           HUMAN RESOURCES AND PERSONNEL MANAGEMENT
167        6210                             INTERNATIONAL BUSINESS
168        6211                             HOSPITALITY MANAGEMENT
169        6212      MANAGEMENT INFORMATION SYSTEMS AND STATISTICS
170        6299    MISCELLANEOUS BUSINESS & MEDICAL ADMINISTRATION
171        6402                                            HISTORY
172        6403                              UNITED STATES HISTORY

                          Major_category    Total  Employed  \
0        Agriculture & Natural Resources   128148     90245
1        Agriculture & Natural Resources    95326     76865
2        Agriculture & Natural Resources    33955     26321
3        Agriculture & Natural Resources   103549     81177
4        Agriculture & Natural Resources    24280     17281
5        Agriculture & Natural Resources    79409     63043
6        Agriculture & Natural Resources     6586      4926
7        Agriculture & Natural Resources     8549      6392
8                 Biology & Life Science   106106     87602
9        Agriculture & Natural Resources    69447     48228
10       Agriculture & Natural Resources    83188     65937
11                           Engineering   294692    216770
12             Humanities & Liberal Arts   103740     75798
13           Communications & Journalism   987676    790696
14           Communications & Journalism   418104    314438
15           Communications & Journalism   211213    170474
16           Communications & Journalism   186829    147433
17               Computers & Mathematics    62141     49609
18               Computers & Mathematics   253782    218248
19               Computers & Mathematics    29317     22828
20               Computers & Mathematics   783292    656372
21               Computers & Mathematics    77805     66393
22               Computers & Mathematics    39362     32366
23               Computers & Mathematics    51771     44071
24   Industrial Arts & Consumer Services    42325     33388
25                             Education  1438867    843693
26                             Education     4037      3113
27                             Education     2396      1492
28                             Education  1446701    819393
29                             Education    68808     47203
..                                   ...      ...       ...
143                                 Arts   133508    107651
144            Humanities & Liberal Arts    90852     61295
145                                 Arts    81008     58799
146                                 Arts     8511      6431
147                               Health   104516     78198
148                               Health    74977     49393
149                               Health   108510     85360
150                               Health    64316     51279
151                               Health   164990    121479
152                               Health    32514     19009
153                               Health  1769892   1325711
154                               Health   180084    124058
155                               Health   252138    199174
156                               Health    56741     42543
157                               Health    77647     52610
158                             Business  2148712   1580978
159                             Business  1779219   1335825
160                             Business     9763      7846
161                             Business  3123510   2354398
162                             Business    57200     47341
163                             Business    75547     57983
164                             Business  1114624    890125
165                             Business   816548    670681
166                             Business   187274    142879
167                             Business    86064     66453
168                             Business   200854    163393
169                             Business   156673    134478
170                             Business   102753     77471
171            Humanities & Liberal Arts   712509    478416
172            Humanities & Liberal Arts    17746     11887

     Employed_full_time_year_round  Unemployed  Unemployment_rate  Median  \
0                            74078        2423           0.026147   50000
1                            64240        2266           0.028636   54000
2                            22810         821           0.030248   63000
3                            64937        3619           0.042679   46000
4                            12722         894           0.049188   62000
5                            51077        2070           0.031791   50000
6                             4042         264           0.050867   63000
7                             5074         261           0.039230   52000
8                            65238        4736           0.051290   52000
9                            39613        2144           0.042563   58000
10                           50595        3789           0.054341   52000
11                          163020       20394           0.085991   63000
12                           50530        5525           0.067939   46000
13                          595739       54390           0.064360   50000
14                          235407       20754           0.061917   50000
15                          125489       15431           0.083005   48000
16                          111552       10624           0.067216   50000
17                           37261        4609           0.085009   50000
18                          189950       11945           0.051891   65000
19                           18747        2265           0.090264   60000
20                          561052       34196           0.049519   78000
21                           57604        3704           0.052841   68000
22                           28156        2626           0.075046   55000
23                           35954        2748           0.058694   55000
24                           25780        1941           0.054941   40000
25                          591863       38742           0.043904   43000
26                            2468           0           0.000000   58000
27                            1093         169           0.101746   41000
28                          501786       32685           0.038359   40000
29                           29494        1610           0.032983   43000
..                             ...         ...                ...     ...
143                          69303       10080           0.085619   47000
144                          38989        4185           0.063913   44500
145                          36943        5372           0.083714   37600
146                           3802        1190           0.156147   45000
147                          53746        4525           0.054701   50000
148                          26085        2407           0.046467   42000
149                          67294        5160           0.057004   50000
150                          25118        1660           0.031357   55000
151                          92128        4564           0.036210   60000
152                          13147        1431           0.070010   50000
153                         947546       36503           0.026797   62000
154                          89234        4414           0.034358  106000
155                         128115        5378           0.026292   61000
156                          28912        3032           0.066528   47000
157                          35676        2978           0.053573   45000
158                        1304646       85626           0.051378   60000
159                        1095027       75379           0.053415   65000
160                           6880         466           0.056064   72000
161                        1939384      147261           0.058865   58000
162                          41104        2141           0.043268   65000
163                          48471        3816           0.061749   65000
164                         704912       51839           0.055033   56000
165                         561073       34166           0.048473   65000
166                         116466        9241           0.060748   54000
167                          51012        5106           0.071354   54000
168                         122499        8862           0.051447   49000
169                         118249        6186           0.043977   72000
170                          61603        4308           0.052679   53000
171                         354163       33725           0.065851   50000
172                           8204         943           0.073500   50000

     P25th     P75th  Unnamed: 11
0    34000   80000.0          NaN
1    36000   80000.0          NaN
2    40000   98000.0          NaN
3    30000   72000.0          NaN
4    38500   90000.0          NaN
5    35000   75000.0          NaN
6    39400   88000.0          NaN
7    35000   75000.0          NaN
8    38000   75000.0          NaN
9    40500   80000.0          NaN
10   37100   75000.0          NaN
11   40400   93500.0          NaN
12   32000   71000.0          NaN
13   35000   80000.0          NaN
14   35000   80000.0          NaN
15   32000   70000.0          NaN
16   34000   75000.0          NaN
17   34500   75000.0          NaN
18   45000   90000.0          NaN
19   40000   85000.0          NaN
20   51000  105000.0          NaN
21   46200   95000.0          NaN
22   40000   80000.0          NaN
23   36000   80000.0          NaN
24   26200   60000.0          NaN
25   32000   59000.0          NaN
26   44750   79000.0          NaN
27   33200   50000.0          NaN
28   31000   50000.0          NaN
29   34000   60000.0          NaN
..     ...       ...          ...
143  30000   70000.0          NaN
144  30000   70000.0          NaN
145  24900   58000.0          NaN
146  30000   60000.0          NaN
147  35000   73000.0          NaN
148  30000   60000.0          NaN
149  35000   75000.0          NaN
150  37000   75000.0          NaN
151  45000   76000.0          NaN
152  34000   85000.0          NaN
153  48000   80000.0          NaN
154  78000  125000.0          NaN
155  40000   80000.0          NaN
156  32800   70000.0          NaN
157  32000   62000.0          NaN
158  40000   95000.0          NaN
159  42500  100000.0          NaN
160  53000  115000.0          NaN
161  39500   86000.0          NaN
162  45000   90000.0          NaN
163  45000  100000.0          NaN
164  38500   90000.0          NaN
165  45000  100000.0          NaN
166  38000   80000.0          NaN
167  38600   80000.0          NaN
168  33000   70000.0          NaN
169  50000  100000.0          NaN
170  36000   83000.0          NaN
171  35000   80000.0          NaN
172  39000   81000.0          NaN

[173 rows x 12 columns]

In [80]:
degrees = pd.read_csv('degrees-that-pay-back.csv')

In [83]:
degrees.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary',
       'Percent change from Starting to Mid-Career Salary',
       'Mid-Career 10th Percentile Salary',
       'Mid-Career 25th Percentile Salary',
       'Mid-Career 75th Percentile Salary',
       'Mid-Career 90th Percentile Salary'],
      dtype='object')

In [86]:
degrees.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,aerospace engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"

In [106]:
merged = pd.merge(majors, degrees, left_on= 'Major', right_on='Undergraduate Major', how = "outer")

In [107]:
merged

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,1100.0,general agriculture,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1101.0,agriculture production and management,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1102.0,agricultural economics,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1103.0,animal sciences,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1104.0,food science,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1105.0,plant science and agronomy,Agriculture & Natural Resources,79409.0,63043.0,51077.0,2070.0,0.031791,50000.0,35000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1106.0,soil science,Agriculture & Natural Resources,6586.0,4926.0,4042.0,264.0,0.050867,63000.0,39400.0,88000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1199.0,miscellaneous agriculture,Agriculture & Natural Resources,8549.0,6392.0,5074.0,261.0,0.039230,52000.0,35000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1301.0,environmental science,Biology & Life Science,106106.0,87602.0,65238.0,4736.0,0.051290,52000.0,38000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1302.0,forestry,Agriculture & Natural Resources,69447.0,48228.0,39613.0,2144.0,0.042563,58000.0,40500.0,80000.0,forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
10,1303.0,natural resources management,Agriculture & Natural Resources,83188.0,65937.0,50595.0,3789.0,0.054341,52000.0,37100.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1401.0,architecture,Engineering,294692.0,216770.0,163020.0,20394.0,0.085991,63000.0,40400.0,93500.0,architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
12,1501.0,area ethnic and civilization studies,Humanities & Liberal Arts,103740.0,75798.0,50530.0,5525.0,0.067939,46000.0,32000.0,71000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1901.0,communications,Communications & Journalism,987676.0,790696.0,595739.0,54390.0,0.064360,50000.0,35000.0,80000.0,communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
14,1902.0,journalism,Communications & Journalism,418104.0,314438.0,235407.0,20754.0,0.061917,50000.0,35000.0,80000.0,journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
15,1903.0,mass media,Communications & Journalism,211213.0,170474.0,125489.0,15431.0,0.083005,48000.0,32000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1904.0,advertising and public relations,Communications & Journalism,186829.0,147433.0,111552.0,10624.0,0.067216,50000.0,34000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2001.0,communication technologies,Computers & Mathematics,62141.0,49609.0,37261.0,4609.0,0.085009,50000.0,34500.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2100.0,computer and information systems,Computers & Mathematics,253782.0,218248.0,189950.0,11945.0,0.051891,65000.0,45000.0,90000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2101.0,computer programming and data processing,Computers & Mathematics,29317.0,22828.0,18747.0,2265.0,0.090264,60000.0,40000.0,85000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2102.0,computer science,Computers & Mathematics,783292.0,656372.0,561052.0,34196.0,0.049519,78000.0,51000.0,105000.0,computer science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
21,2105.0,information sciences,Computers & Mathematics,77805.0,66393.0,57604.0,3704.0,0.052841,68000.0,46200.0,95000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2106.0,computer administration management and security,Computers & Mathematics,39362.0,32366.0,28156.0,2626.0,0.075046,55000.0,40000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2107.0,computer networking and telecommunications,Computers & Mathematics,51771.0,44071.0,35954.0,2748.0,0.058694,55000.0,36000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2201.0,cosmetology services and culinary arts,Industrial Arts & Consumer Services,42325.0,33388.0,25780.0,1941.0,0.054941,40000.0,26200.0,60000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2300.0,general education,Education,1438867.0,843693.0,591863.0,38742.0,0.043904,43000.0,32000.0,59000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2301.0,educational administration and supervision,Education,4037.0,3113.0,2468.0,0.0,0.000000,58000.0,44750.0,79000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2303.0,school student counseling,Education,2396.0,1492.0,1093.0,169.0,0.101746,41000.0,33200.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2304.0,elementary education,Education,1446701.0,819393.0,501786.0,32685.0,0.038359,40000.0,31000.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2305.0,mathematics teacher education,Education,68808.0,47203.0,29494.0,1610.0,0.032983,43000.0,34000.0,60000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,6212.0,management information systems and statistics,Business,156673.0,134478.0,118249.0,6186.0,0.043977,72000.0,50000.0,100000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,6299.0,miscellaneous business & medical administration,Business,102753.0,77471.0,61603.0,4308.0,0.052679,53000.0,36000.0,83000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,6402.0,history,Humanities & Liberal Arts,712509.0,478416.0,354163.0,33725.0,0.065851,50000.0,35000.0,80000.0,history,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
172,6403.0,united states history,Humanities & Liberal Arts,17746.0,11887.0,8204.0,943.0,0.073500,50000.0,39000.0,81000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,art history,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,business management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,criminal justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,english,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,graphic design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,health care administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,hospitality & tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,industrial engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,information technology (it),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,interior design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,management information systems (mis),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,physician assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,political science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

In [109]:
merged['Undergraduate Major'][1]

nan

In [115]:
nonmerged = merged[pd.isnull(merged['Starting Median Salary'])]

nonmerged

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,1100.0,general agriculture,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1101.0,agriculture production and management,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1102.0,agricultural economics,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1103.0,animal sciences,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1104.0,food science,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1105.0,plant science and agronomy,Agriculture & Natural Resources,79409.0,63043.0,51077.0,2070.0,0.031791,50000.0,35000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1106.0,soil science,Agriculture & Natural Resources,6586.0,4926.0,4042.0,264.0,0.050867,63000.0,39400.0,88000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1199.0,miscellaneous agriculture,Agriculture & Natural Resources,8549.0,6392.0,5074.0,261.0,0.039230,52000.0,35000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1301.0,environmental science,Biology & Life Science,106106.0,87602.0,65238.0,4736.0,0.051290,52000.0,38000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1303.0,natural resources management,Agriculture & Natural Resources,83188.0,65937.0,50595.0,3789.0,0.054341,52000.0,37100.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1501.0,area ethnic and civilization studies,Humanities & Liberal Arts,103740.0,75798.0,50530.0,5525.0,0.067939,46000.0,32000.0,71000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1903.0,mass media,Communications & Journalism,211213.0,170474.0,125489.0,15431.0,0.083005,48000.0,32000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1904.0,advertising and public relations,Communications & Journalism,186829.0,147433.0,111552.0,10624.0,0.067216,50000.0,34000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2001.0,communication technologies,Computers & Mathematics,62141.0,49609.0,37261.0,4609.0,0.085009,50000.0,34500.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2100.0,computer and information systems,Computers & Mathematics,253782.0,218248.0,189950.0,11945.0,0.051891,65000.0,45000.0,90000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2101.0,computer programming and data processing,Computers & Mathematics,29317.0,22828.0,18747.0,2265.0,0.090264,60000.0,40000.0,85000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2105.0,information sciences,Computers & Mathematics,77805.0,66393.0,57604.0,3704.0,0.052841,68000.0,46200.0,95000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2106.0,computer administration management and security,Computers & Mathematics,39362.0,32366.0,28156.0,2626.0,0.075046,55000.0,40000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2107.0,computer networking and telecommunications,Computers & Mathematics,51771.0,44071.0,35954.0,2748.0,0.058694,55000.0,36000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2201.0,cosmetology services and culinary arts,Industrial Arts & Consumer Services,42325.0,33388.0,25780.0,1941.0,0.054941,40000.0,26200.0,60000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2300.0,general education,Education,1438867.0,843693.0,591863.0,38742.0,0.043904,43000.0,32000.0,59000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2301.0,educational administration and supervision,Education,4037.0,3113.0,2468.0,0.0,0.000000,58000.0,44750.0,79000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2303.0,school student counseling,Education,2396.0,1492.0,1093.0,169.0,0.101746,41000.0,33200.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2304.0,elementary education,Education,1446701.0,819393.0,501786.0,32685.0,0.038359,40000.0,31000.0,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2305.0,mathematics teacher education,Education,68808.0,47203.0,29494.0,1610.0,0.032983,43000.0,34000.0,60000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2306.0,physical and health education teaching,Education,281661.0,193542.0,136343.0,9389.0,0.046267,48400.0,34000.0,66500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2307.0,early childhood education,Education,157079.0,113460.0,71133.0,5890.0,0.049351,35300.0,27000.0,45800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2308.0,science and computer teacher education,Education,56477.0,36224.0,24817.0,1596.0,0.042200,46000.0,35000.0,61000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2309.0,secondary teacher education,Education,224262.0,129486.0,88917.0,5925.0,0.043756,45000.0,34000.0,60000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2310.0,special needs education,Education,149689.0,108272.0,71615.0,5357.0,0.047145,42000.0,34000.0,53000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,6000.0,fine arts,Arts,571961.0,386961.0,256747.0,29912.0,0.071753,45000.0,30000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,6001.0,drama and theater arts,Arts,174817.0,135071.0,81519.0,11789.0,0.080274,42000.0,29000.0,62000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,6003.0,visual and performing arts,Arts,55141.0,41098.0,23479.0,4297.0,0.094658,40000.0,27000.0,59000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,6004.0,commercial art and graphic design,Arts,504657.0,379980.0,266671.0,30330.0,0.073920,46600.0,32000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,6005.0,film video and photographic arts,Arts,133508.0,107651.0,69303.0,10080.0,0.085619,47000.0,30000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,6006.0,art history and criticism,Humanities & Liberal Arts,90852.0,61295.0,38989.0,4185.0,0.063913,44500.0,30000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,6007.0,studio arts,Arts,81008.0,58799.0,36943.0,5372.0,0.083714,37600.0,24900.0,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,6099.0,miscellaneous fine arts,Arts,8511.0,6431.0,3802.0,1190.0,0.156147,45000.0,30000.0,60000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,6100.0,general medical and health services,Health,104516.0,78198.0,53746.0,4525.0,0.054701,50000.0,35000.0,73000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,6102.0,communication disorders sciences and services,Health,74977.0,49393.0,26085.0,2407.0,0.046467,42000.0,30000.0,60000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,6103.0,health and medical administrative services,Health,108510.0,85360.0,67294.0,5160.0,0.057004,50000.0,35000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,6104.0,medical assisting services,Health,64316.0,51279.0,25118.0,1660.0,0.031357,55000.0,37000.0,75000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,6105.0,medical technologies technicians,Health,164990.0,121479.0,92128.0,4564.0,0.036210,60000.0,45000.0,76000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,6106.0,health and medical preparatory programs,Health,32514.0,19009.0,13147.0,1431.0,0.070010,50000.0,34000.0,85000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,6108.0,pharmacy pharmaceutical sciences and administr...,Health,180084.0,124058.0,89234.0,4414.0,0.034358,106000.0,78000.0,125000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,6109.0,treatment therapy professions,Health,252138.0,199174.0,128115.0,5378.0,0.026292,61000.0,40000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,6110.0,community and public health,Health,56741.0,42543.0,28912.0,3032.0,0.066528,47000.0,32800.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,6199.0,miscellaneous health medical professions,Health,77647.0,52610.0,35676.0,2978.0,0.053573,45000.0,32000.0,62000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,6200.0,general business,Business,2148712.0,1580978.0,1304646.0,85626.0,0.051378,60000.0,40000.0,95000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,6202.0,actuarial science,Business,9763.0,7846.0,6880.0,466.0,0.056064,72000.0,53000.0,115000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,6203.0,business management and administration,Business,3123510.0,2354398.0,1939384.0,147261.0,0.058865,58000.0,39500.0,86000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,6204.0,operations logistics and e-commerce,Business,57200.0,47341.0,41104.0,2141.0,0.043268,65000.0,45000.0,90000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,6205.0,business economics,Business,75547.0,57983.0,48471.0,3816.0,0.061749,65000.0,45000.0,100000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,6206.0,marketing and marketing research,Business,1114624.0,890125.0,704912.0,51839.0,0.055033,56000.0,38500.0,90000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,6209.0,human resources and personnel management,Business,187274.0,142879.0,116466.0,9241.0,0.060748,54000.0,38000.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,6210.0,international business,Business,86064.0,66453.0,51012.0,5106.0,0.071354,54000.0,38600.0,80000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,6211.0,hospitality management,Business,200854.0,163393.0,122499.0,8862.0,0.051447,49000.0,33000.0,70000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,6212.0,management information systems and statistics,Business,156673.0,134478.0,118249.0,6186.0,0.043977,72000.0,50000.0,100000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,6299.0,miscellaneous business & medical administration,Business,102753.0,77471.0,61603.0,4308.0,0.052679,53000.0,36000.0,83000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,6403.0,united states history,Humanities & Liberal Arts,17746.0,11887.0,8204.0,943.0,0.073500,50000.0,39000.0,81000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
x = 0
for item in merged:
    if merged['Undergraduate Major'][x].isnull():
        print(merged[x])
    else:
        pass
    x = x + 1

AttributeError: 'float' object has no attribute 'isnull'

In [11]:
region = pd.read_csv('salaries-by-region.csv')

In [12]:
region

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN
5,Cal Poly San Luis Obispo,California,"$57,200.00","$101,000.00","$55,000.00","$74,700.00","$133,000.00","$178,000.00"
6,University of California at Los Angeles (UCLA),California,"$52,600.00","$101,000.00","$51,300.00","$72,500.00","$139,000.00","$193,000.00"
7,"University of California, San Diego (UCSD)",California,"$51,100.00","$101,000.00","$51,700.00","$75,400.00","$131,000.00","$177,000.00"
8,Pomona College,California,"$48,600.00","$101,000.00",NaN,"$63,300.00","$161,000.00",NaN
9,University of Southern California (USC),California,"$54,800.00","$99,600.00","$49,700.00","$73,800.00","$140,000.00","$201,000.00"
10,"University of California, Davis",California,"$52,300.00","$99,600.00","$52,000.00","$71,600.00","$135,000.00","$202,000.00"
11,"University of California, Irvine (UCI)",California,"$48,300.00","$96,700.00","$47,800.00","$66,000.00","$123,000.00","$172,000.00"
12,San Jose State University (SJSU),California,"$53,500.00","$95,600.00","$50,700.00","$70,500.00","$122,000.00","$156,000.00"
13,"University of California, Santa Barbara (UCSB)",California,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
14,"California State University (CSU), Chico",California,"$47,400.00","$88,100.00","$46,800.00","$62,800.00","$122,000.00","$154,000.00"
15,"California State University, Fullerton (CSUF)",California,"$45,700.00","$87,000.00","$45,400.00","$62,500.00","$119,000.00","$158,000.00"
16,San Francisco State University (SFSU),California,"$47,300.00","$86,400.00","$45,100.00","$62,700.00","$114,000.00","$150,000.00"
17,San Diego State University (SDSU),California,"$46,200.00","$85,200.00","$45,500.00","$61,800.00","$116,000.00","$158,000.00"
18,"California State University, Long Beach (CSULB)",California,"$45,100.00","$84,700.00","$47,400.00","$62,500.00","$113,000.00","$154,000.00"
19,"California State University, East Bay (CSUEB)",California,"$49,200.00","$84,300.00","$46,000.00","$62,400.00","$115,000.00","$155,000.00"
20,"University of California, Santa Cruz (UCSC)",California,"$44,700.00","$84,100.00","$46,100.00","$62,000.00","$121,000.00","$165,000.00"
21,"California State University, Sacramento (CSUS)",California,"$47,800.00","$82,400.00","$42,900.00","$59,600.00","$111,000.00","$154,000.00"
22,"University of California, Riverside (UCR)",California,"$46,800.00","$81,300.00","$37,200.00","$59,900.00","$109,000.00","$134,000.00"
23,"California State University, Northridge (CSUN)",California,"$45,500.00","$80,400.00","$44,500.00","$57,800.00","$108,000.00","$153,000.00"
24,"California State University, Dominguez Hills (...",California,"$42,700.00","$72,100.00","$30,800.00","$47,000.00","$92,200.00","$132,000.00"
25,"California State University (CSU), Stanislaus",California,"$38,000.00","$71,400.00",NaN,"$50,500.00","$94,100.00",NaN
26,Humboldt State University,California,"$42,600.00","$71,300.00","$36,000.00","$56,300.00","$94,400.00","$117,000.00"
27,Thomas Aquinas College,California,"$41,500.00","$67,500.00",NaN,"$44,600.00","$93,100.00",NaN
28,Colorado School of Mines,Western,"$58,100.00","$106,000.00","$62,200.00","$87,900.00","$142,000.00","$201,000.00"
29,University of Colorado - Boulder (UCB),Western,"$47,100.00","$97,600.00","$51,600.00","$69,000.00","$128,000.00","$187,000.00"
...,...,...,...,...,...,...,...,...
290,Dowling College,Northeastern,"$41,100.00","$82,800.00","$46,500.00","$60,600.00","$117,000.00","$142,000.00"
291,University of Vermont (UVM),Northeastern,"$44,800.00","$82,700.00","$44,700.00","$58,000.00","$122,000.00","$194,000.00"
292,State University of New York (SUNY) at Buffalo,Northeastern,"$46,200.00","$81,700.00","$45,900.00","$61,400.00","$110,000.00","$147,000.00"
293,State University of New York (SUNY) at Geneseo,Northeastern,"$42,300.00","$81,300.00","$39,300.00","$47,600.00","$117,000.00","$173,000.00"
294,Fashion Institute of Technology,Northeastern,"$42,800.00","$81,000.00","$38,800.00","$60,500.00","$106,000.00","$138,000.00"
295,Philadelphia University,Northeastern,"$45,100.00","$80,300.00","$45,800.00","$61,900.00","$108,000.00","$141,000.00"
296,Ursinus College,Northeastern,"$42,100.00","$80,000.00","$35,600.00","$54,300.00","$100,000.00","$160,000.00"
297,Adelphi University,Northeastern,"$40,600.00","$79,200.00","$44,200.00","$54,800.00","$114,000.00","$160,000.00"
298,Juniata College,Northeastern,"$41,800.00","$78,900.00",NaN,"$67,200.00","$110,000.00",NaN
299,Fairleigh Dickinson University,Northeastern,"$45,700.00","$78,700.00","$40,200.00","$56,300.00","$112,000.00","$171,000.00"
300,University of New Hampshire (UNH),Northeastern,"$41,800.00","$78,300.00","$41,700.00","$56,400.00","$114,000.00","$147,000.00"
301,University of Massachusetts (UMass) - Boston,Northeastern,"$45,600.00","$78,200.00","$36,300.00","$53,800.00","$109,000.00","$151,000.00"
302,State University of New York (SUNY) at Oswego,Northeastern,"$38,000.00","$77,800.00","$40,400.00","$53,000.00","$115,000.00","$169,000.00"
303,University of Massachusetts (UMass) - Dartmouth,Northeastern,"$43,200.00","$77,700.00","$43,300.00","$56,200.00","$107,000.00","$132,000.00"
304,State University of New York (SUNY) at Oneonta,Northeastern,"$37,500.00","$76,700.00","$40,000.00","$54,300.00","$97,700.00","$155,000.00"
305,Quinnipiac University,Northeastern,"$43,000.00","$76,500.00","$47,900.00","$57,400.00","$117,000.00","$155,000.00"
306,State University of New York (SUNY) at Plattsb...,Northeastern,"$40,800.00","$76,200.00","$38,400.00","$54,100.00","$105,000.00","$136,000.00"
307,Sacred Heart University,Northeastern,"$46,000.00","$75,300.00","$39,700.00","$54,800.00","$105,000.00","$150,000.00"
308,Skidmore College,Northeastern,"$41,600.00","$74,600.00",NaN,"$42,800.00","$147,000.00",NaN
309,Moravian College,Northeastern,"$42,500.00","$74,400.00",NaN,"$56,700.00","$94,900.00",NaN
310,Penn State - Harrisburg,Northeastern,"$45,700.00","$74,000.00","$44,000.00","$53,100.00","$104,000.00","$150,000.00"
311,Suffolk University,Northeastern,"$42,100.00","$74,000.00","$48,700.00","$57,800.00","$95,100.00","$145,000.00"
312,Fitchburg State College,Northeastern,"$42,400.00","$72,600.00","$43,300.00","$56,100.00","$99,600.00","$151,000.00"
313,Roger Williams University,Northeastern,"$42,000.00","$72,300.00","$39,800.00","$48,500.00","$102,000.00","$138,000.00"
314,University Of Maine,Northeastern,"$41,200.00","$72,100.00","$41,700.00","$55,600.00","$99,300.00","$141,000.00"
315,State University of New York (SUNY) at Potsdam,Northeastern,"$38,000.00","$70,300.00","$35,100.00","$51,200.00","$100,000.00","$179,000.00"
316,Niagara University,Northeastern,"$36,900.00","$69,700.00","$44,000.00","$57,000.00","$92,000.00","$128,000.00"
317,State University of New York (SUNY) at Fredonia,Northeastern,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00"
318,University of Southern Maine,Northeastern,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
319,Mercy College,Northeastern,"$43,700.00","$62,600.00","$35,600.00","$47,300.00","$99,000.00","$134,000.00"

In [23]:
region.describe().transpose()

                                  count unique                        top freq
School Name                         320    320  Illinois State University    1
Region                              320      5               Northeastern  100
Starting Median Salary              320    168                 $42,600.00    6
Mid-Career Median Salary            320    204                $110,000.00    5
Mid-Career 10th Percentile Salary   273    166                 $40,100.00    5
Mid-Career 25th Percentile Salary   320    217                 $54,100.00    5
Mid-Career 75th Percentile Salary   320    130                $106,000.00   10
Mid-Career 90th Percentile Salary   273    115                $150,000.00   10

In [41]:
salariesDF['Mid-Career Median Salary'].min()

'$101,000.00'

In [42]:
salariesDF['Starting Median Salary'].min()

'$34,800.00'

In [35]:
degrees['Starting Median Salary'].mean()

TypeError: Could not convert $46,000.00$57,700.00$42,600.00$36,800.00$41,600.00$35,800.00$38,800.00$43,000.00$63,200.00$42,600.00$53,900.00$38,100.00$61,400.00$55,900.00$53,700.00$35,000.00$35,900.00$50,100.00$34,900.00$60,900.00$38,000.00$37,900.00$47,900.00$39,100.00$41,200.00$43,500.00$35,700.00$38,800.00$39,200.00$37,800.00$57,700.00$49,100.00$36,100.00$40,900.00$35,600.00$49,200.00$40,800.00$45,400.00$57,900.00$35,900.00$54,200.00$39,900.00$39,900.00$74,300.00$50,300.00$40,800.00$35,900.00$34,100.00$36,500.00$34,000.00 to numeric